.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.9;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 300px 1000px 400px 1000px
  }
  

  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    max-height: 300px;
    width: 600px;
    max-width: 600px;
  }

  .content button {
    transition: 0.3s;
    margin-right: 10px;
    color: white;
    background-color: transparent;
  }

  .content button:hover {
    cursor: pointer;
     color:red;
     border-color:red
  }

  .notShow {
    display:none;
  }
