.info img {
    width: 15vw;
    border-radius: 50%;
    margin-top: 1vw;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.info p {
    margin-top: 5vw;
    font-size: 1.5vw;
    font-weight: bold;
    max-width: 40vw;
    justify-content: center;
}

.info p img {
    width: 2.5vw;
    transition: 0.3s;
    background-color: white;
    margin-left: 1vw;
    margin-bottom: -0.7vw;
}

.info p img:hover {
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}


.info p button{
    transition: 0.3s;
    width: 15vw;
    height: 3.5vw;
    border: 2px groove red;
    border-radius: 3vw;
    background-color: transparent;
    color: white;
    margin-left: 2vw;
    font-size: 1.2vw;
  }

  .info p button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color:red;
  }

  .info h1 {
    font-size: 2.3vw;
  }