.info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.info p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    /* align-items: center; */
    justify-content: center;
}

.info p img {
    /* margin-top: 30px; */
    width: 30px;
    height: 30px;
    transition: 0.3s;
    background-color: white;
    border-radius: 200px;
    margin-left: 20px;
}

.info p img:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}


.info p button{
    transition: 0.3s;
    width: 200px;
    height: 50px;
    border: 2px groove red;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    margin-left: 160px;
  }

  .info p button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color:red;
  }
