
main {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 80%;
    height: 100vh;
  }
  
  .errorTitle {
    color: #e7ebf2;
    font-size: 6rem;
    margin: .025em 0;
    text-shadow: .05em .05em 0 rgba(0,0,0,.25);
    white-space: nowrap;
  }

 main div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 main div img {
    width: 250px;
    margin-left: 40px;;
 }
    
  .errorSubTitle {
    color: #e7ebf2;
    margin-bottom: .40em;
    margin-top: 40px;
  } 
  
  
  