
main {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 18vw;
    height: 100vh;
  }
  
  .errorTitle {
    color: #e7ebf2;
    font-size: 7vw;
  }

 main div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 main div img {
    width: 20vw;
    margin-left: 3vw;
 }
    
  .errorSubTitle {
    color: #e7ebf2;
    margin-top: 3vw;
    font-size: 2vw;
  } 
  
  
  