.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.9;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 25vw 80vw 30vw 80vw
  }
  

  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    max-height: 300px;
    width: 100vw;
    max-width: 600px;
  }

  .mario {
    width: 40vw;
  }

  .content h2 {
    font-size: 2.5vw;
  }

  .content button {
    transition: 0.3s;
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 1.3vw;
    color: white;
    background-color: transparent;
  }

  .content button:hover {
    cursor: pointer;
     color:red;
     border-color:red
  }

  .notShow {
    display:none;
  }


  .success {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.9;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 300px 1000px 400px 1000px;
    display: flex;
  }

  .ryuk {
    width: 50vw;
  }

  .deleteGame {
    margin-left:13vw;
    margin-bottom: -3vw;
    margin-top: 5vw;
  }

  .deleteGame button{
    transition: 0.3s;
    width: 15vw;
    height: 3.5vw;
    border: 2px groove red;
    border-radius: 2vw;
    font-size: 1.3vw;
    background-color: transparent;
    color: white;
  }

  .deleteGame button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color:red;
  }

  .firstI {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .firstI img {
    width: 30vw;
  }

