
  .login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.529);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 5px;
    border: 2px groove #f9a448;
  }
  
  .button {
    transition: 0.2s;
    margin: 20px 0 40px 100px;
    width: 100px;
    color: black;
    background-color: #f9a448;
    text-align: center;
    border: 2px groove #f9a448;
  }

  .button:hover{
    transition: 0.2s;
    transform: scale(1.03);
    cursor:pointer;
  }

  .input {
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
  }

  
  .input input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
  }

  

  

  

  
