
.clearFilters {
width: 180px;
height: 50px;
font-size: 20px;;
color : rgba(255, 255, 255, 0.882);
background-color: transparent;
border-radius: 30px;
border: 2px groove white;
margin-left: 15px;
margin-bottom: 50px;
margin-top: 40px;
}

.clearFilters:hover {
color: #f9a348db;
border-color: #f9a348db;
cursor: pointer;
}

.renderFilters {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-bottom: 20px;
}

.renderFilters button {
background-color: transparent;
color: #f9a348db;
border-color: rgba(255, 255, 255, 0.836);
max-width: fit-content;
max-height: fit-content;
margin-bottom: 20px;
font-size: 15px;
}

.renderFilters button:hover {
color: white;
border-color: #f9a348db;
cursor:pointer;
}

.filters {
appearance: none;
overflow: hidden;
border:none;
outline: none;
cursor: inherit;
background-color: transparent;
margin-left: 4%;
margin-right: 5%;
margin-top: 40px;
margin-bottom: 40px;
font-size: 22px;
color: rgba(255, 255, 255, 0.895)
}

.filters:focus {
background: transparent;
background-color: transparent;
outline: none;
}

.filters optgroup option  {
transition: 0.3s;
}

.filters optgroup option:hover {
transition: 0.3s;
font-size: 23px;
color:#f9a448;
cursor: pointer;
}

