
.notFound {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .errorTitle {
    color: #e7ebf2;
    font-size: 17vw;
    margin: .025em 0;
    text-shadow: .05em .05em 0 rgba(0,0,0,.25);
    white-space: nowrap;
  }

 .notFound div {
    display: flex;
 }

 .notFound div img {
    width: 20vw;
 }
    
  .errorSubTitle {
    color: #e7ebf2;
    margin-bottom: .40em;
  } 
  
  .notFound button {
    transition: 0.3s;
    margin-top: 4vw;
    background-color: transparent;
    color:  white;
    font-size: 2vw;
    border: 3px groove white;
    border-radius: 3vw;
    padding: 1.5vw;
  }

  .notFound button:hover {
    transition: 0.3s;
    color: #f9a348db;
    border: 3px groove #f9a348db;
    transform: scale(1.02);
    cursor: pointer;
  }
  
  