.image {
    width: 40vw;
    height: 40vw;
    margin: 4vw 0 0 2vw;
    box-shadow: 8px 8px 4px 0 rgba(255, 255, 255, 0.135);
    border: 3px groove #f9a448;
}

.container {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    margin-top: 3vw;
    background-color: rgba(0, 0, 0, 0.408);
}

.vgContainer {
width: 97%;
display: flex;
flex-direction: column;
padding-left: 1vw;
margin-top: 2vw;
}

.vgContainer h1{
  font-size: 3vw;
 
}

.vgContainer p {
    display:flex;
    color: rgba(255, 255, 255, 0.848);
    font-size: 1.3vw;
    margin-right: 1vw;
    line-height: 1.4;
}

.info {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  justify-content: center;
  align-items: center;
  height: 20vw;
}

.infoGP {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  background-color: #f9a448;
  height: 5vw;
  color: black;
  border: 2px groove black;
}

.infoGP p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5vw;
}

.infoGP img {
  width: 2vw;
  margin-left: 1vw;
  margin-bottom: 0.3vw;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading img {
  width: 8vw;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


















