body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://wallpaperaccess.com/full/823503.jpg');
  background-size: cover;
}

code {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
