

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: darken;
  /* background-image: url('https://wallpaperaccess.com/full/823503.jpg'); */
  background-size: contain;
  /* cursor: url('/src/components/Icons/cursor.png'), auto; */
}

code {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
