.container {
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.profile{
    margin-top: 40px;
    width: 20vw;
    border: 3px groove #f9a448;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-left: 15vw;
}

.about p {
    width: 20vw;
    font-size: 1.2vw;
}

.faq {
    width: 30vw;
    margin-top: 1vw;
}

.faq h2 {
    font-size: 2.5vw;
    font-style: italic;
}

.faq p {
    font-size: 1.3vw;
}

.faq div {
    margin-bottom: 4vw;
}

.contact {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
}

.linkedin {
    transition: 0.3s;
    border:none;
    width: 3vw;
}

.linkedin:hover {
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.05)
}

.github {
    transition: 0.3s;
    width: 4.5vw;
}

.github:hover {
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.10)
}