.items {
    display:flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content:space-between;
    /* background-color: #f9a348f1; */
    background-color: rgba(0, 0, 0, 0.696);
    color: rgba(252, 252, 252, 0.768);
    padding-top: 10px;
    height: 60px;
}

.link {
    text-decoration: none;
}



.userBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 10px;
}

.userBar a {
    transition: 0.3s;
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

.userBar a:hover {
    transition: 0.3s;
    color: #f9a448;
    cursor: pointer;
    text-decoration: overline underline;
}


.titleCreate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radar {
    width: 130px;
    height: 100px;
    /* margin-left: 10%; */
    margin-top: 20px
}

.homeIcon {
    /* margin-top: 30px; */
    transition: 0.3s;
    width: 40px;
    background-color: white;
    border-radius: 200px;
    margin-right: 15px;;
}

.homeIcon:hover {
    transition: 0.3s;
    width: 45px;
}

.textRenders {
    transition: 3s;
    color: white;
    margin-right: 20px;
    /* margin-top: 5px;; */
}

.subDiv {
    display: flex;

}


.signUp {
    transition: 0.3s;
    color:white;
    background-color: transparent;
    border:none;
    font-size: 18px;
}

.signUp:hover {
    transition: 0.3s;
    color:#f9a448;
    cursor:pointer;
    text-decoration: underline overline;
}
