.landingPage {
    /* color: rgba(255, 255, 255, 0.873); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingPage button {
    margin-top: 2vw;
    margin-bottom: 2vw;
    transition:0.3s;
    border-radius: 3vw;
    width: 30vw;
    height: 4vw;
    font-size: 1.5vw;
    background-color: #f9a448;
    color: white ;
    cursor: pointer
}

.landingPage button:hover {
    transition:0.3s;
    transform: scale(1.05);
    font-weight: bold;
    background-color: azure;
    color: black
}

.link {
    text-decoration: none;
    color: rgba(247, 243, 243, 0.824)
}

.navLp {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.752);
    color:rgba(252, 252, 252, 0.768);
    margin-bottom: 1vw;
    padding-top: 1vw;
    height: 2vw;
}

.signUp {
    transition: 0.3s;
    color:white;
    background-color: transparent;
    border:none;
    margin-right: 1.1vw;
    font-size: 1.3vw;
}

.signUp:hover {
    transition: 0.3s;
    color:#f9a448;
    cursor:pointer;
    text-decoration: underline overline;
}

.radar {
    width: 8vw;
    height: 6vw;
    margin-top: 2.1vw;
}

.banner {
    width: 100%;
    background-color: transparent;
    height:  30vw;
}

.info {
  display:grid;
  width:90%;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  margin-bottom: 5vw;
  justify-items: center;
}


.sponsor {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.sponsors {
    transition: 0.3s;
    width: 10vw;
    margin-bottom: 2vw;
}

.sponsors:hover {
    transition: 0.3s;
    transform: scale(1.04);
    cursor: pointer;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left : 1px white solid;
    border-right: 1px white solid;
    padding-left: 2vw;
    padding-right: 3vw;
}

.first p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
}

.sponsor h2 {
    font-size: 2vw;
}

.title {
    font-size: 2.7vw;
    margin-top: 3vw;
}

.first h2 {
    font-size: 2vw;
}

