.vgImage {
        object-fit:cover;
        height: 100%;
        width:100%;
        background-color: black;
        border-radius: 10px;
}

.Home {
   display: flex;
   flex-direction: column;
}

.vgContainer{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(5, 1fr)
}

.container{
    display: grid;
    margin-top: 2%;
    grid-template-columns: 20% 80%;
}

.Card {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    /* background:#f9a348db; */
    background:black;
    width:330px;
    height: 430px;
    box-shadow: 8px 8px 4px 0 rgba(255, 255, 255, 0.135);
    border-radius:10px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.869);
    border: 2px solid #f9a348db;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;  
    /* justify-content: end; */
    align-items: center; 
}

.Card:hover {
    transition: 0.3s;
    width: 340px;
    height: 440px;
    box-shadow: 12px 12px 8px 0 rgba(255, 255, 255, 0.252);

}


.platforms {
    display: flex;
    justify-content: space-around;
    background-color: #f9a348db;
}

.trending {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.912)
}

.clearFilters {
    width: 200px;
    height: 50px;
    font-size: 25px;;
    color : rgba(255, 255, 255, 0.882);
    background-color: transparent;
    border-radius: 30px;
    border: 2px groove white;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.clearFilters:hover {
    color: #f9a348db;
    border-color: #f9a348db;
    cursor: pointer;
}

.renderFilters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.renderFilters button {
    background-color: transparent;
    color: #f9a348db;
    border-color: rgba(255, 255, 255, 0.836);
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
}

.renderFilters button:hover {
    color: white;
    border-color: #f9a348db;
    cursor:pointer;
}



.cardTitle {
    display:flex;
    font-size: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: #f9a448db solid 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-left: 5px */
}

.cardRating {
    text-decoration: none;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 63%;
    font-size: 20px;
    background-color: #f9a348db;
    color: black;
    border-radius: 10px;
}

.cardGenres {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    /* border-bottom: 3px #f9a348db groove; */
    /* border-top: 3px #f9a348db groove; */
    width: 100%;
}
.cardRating img {
    width: 20px;
    padding-left:5px
}

.deleteGame {
   height: 70px;
}
.deleteGame button {
    margin-top: 10px;
    color:#f9a448;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 10px;
}

.deleteGame button:hover {
    color: white;
    /* border-color: white; */
    cursor:pointer;
}

.link {
    text-decoration: none;
}

.filters {
    appearance: none;
    overflow: hidden;
    border: none;
    cursor: inherit;
    background-color: transparent;
    margin-left: 4%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: larger;
    color: rgba(255, 255, 255, 0.895)
}

.genres {
    display: grid;
    flex-direction: column
}

.genreIcon {
    width: 50px;
    height: 40px;
    margin-right: 5px;
    border:#f9a348db solid 1px;
    border-radius: 10px;
}

.searchBar {
    display: flex;
    justify-content: center;
}

.inputSearch {
    border-radius: 5px;
    width: 40%;
    height: 1.5rem
}

.imageP {
    width: 10%;
    padding:1.3%
}


.filters optgroup option  {
   transition: 0.3s;
}

.filters optgroup option:hover {
    transition: 0.3s;
    font-size: 25px;
    color:#f9a448;
    cursor: pointer;
 }

 .orders {
    display: flex;
    justify-content: flex-end;
     margin-right: 10%;
     height: 20px;
 }

 .orders select {
    background-color: transparent;
    color: white;
 }

